[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Dndmate
GenericName=List maker
Comment=List maker
Exec=dndmate %F
Icon=dndmate
Terminal=false
Categories=Utility;
StartupNotify=true
